@import 'variables';
@import 'routes/productList';

// Normalizer
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

ul {
  li {
    list-style: none;
  }
}

html {
  font-size: 10px;
}

body {
  color: blue;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
