// colors
$color-white:          #fff;
$color-black:          #000;
$color-text:           #383838;
$color-royal-blue:     #5a68e8;
$color-dark-blue:      #081dbb;
$color-persian-pink:   #f06eaa;
$color-red-ribbon:     #e80737;
$color-caribbean-green:#08bba8;
$color-black-20:rgba(0,0,0,.2);
$color-medium-gray: #949596;
$color-chocolate: #d2691e;
$color-wheat: #f5deb3;
$color-silver: #c0c0c0;

// icons
$icon-fav:        'assets/imgs/icons/fav_icon.png';
$icon-fav-active: 'assets/imgs/icons/fav_icon_active.png';
$icon-arrow-next: 'assets/imgs/icons/next.png';
$icon-arrow-prev: 'assets/imgs/icons/prev.png';

// z-index
$z-index-loading: 10;
