html, body {
	height: 100%;
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		list-style: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

button {
  	outline: 0;
  	padding: .5rem 1rem;
}